/* App.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: #f0f2f5;
}

.box {
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

p {
  font-family: monospace;
  font-size: 14px;
  color: #333333;
  word-wrap: break-word;
}
